.align{
    position: relative;
    top: 30px;
    background-color: green;
}

.left{
    position: relative;
    left: 3px;
}

.noScroll{
    overflow: hidden;

}

.card{
    text-align: center;
    align-items: center;
    width: 480px !important;
}

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 20px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* from the top and centered */
  padding: 3%;
  padding-top: 1%;
  border: 2px solid #888;
  width: 42%; /* Could be more or less, depending on screen size */
  
}

/* The Close Button */
.close {
  line-height: 12px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12px;
  margin-right: 12px;
  padding: 2px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.size{
    font-size: 25px;
}

.btn{
  position: absolute;
  right: 670px;
  top: 600px;
}