<h2>Christmas in Austria</h2>
<hr />
<p>
  Austria shares many Christmas traditions with its neighbor Germany, but also
  has many special Christmas customs of its own.
</p>
<p>
  Most towns will have a 'Christkindlmarkt' (Christmas market) from late
  November or early December, selling Christmas decorations, food (like
  gingerbread) and Glühwein (sweet, warm mulled wine). Cities like Vienna,
  Innsbruck and Salzburg have huge markets and people from all over the world
  visit them.
</p>
<p>
  Christmas in Austria really starts around 4.00pm on Christmas Eve ('Heilige
  Abend') when the tree is lit for the first time and people come to sing carols
  around the tree. The most famous carol is Silent Night ('Stille Nacht'), which
  was written in Austria in 1818.
</p>

<p>
  Some children might also get a present from St Nicholas on December 6th. In
  Austria, St Nicholas is often accompanied by the Krampus, He a big horned
  monster clothed in rags and carries chains. He's meant to punish children who
  have been bad!
</p>

<h4>Frohe weihnachten</h4>
<hr />

<a class="button is-primary" href="/gifts">Buy a gift!</a>
