<div>
    <div class="txt"> CALCULATOR </div>
    &nbsp;
    <div>
        <div class="form-group d-flex flex-row">
            <input [(ngModel)]='num1' type="number" name="num1" class="form-control" />
            &nbsp;
            <input [(ngModel)]='num2' type="number" name="num2" class="form-control" />
        </div>
        &nbsp;
        <div>
            <button class="button is-success" (click)="addition()">SUM</button>
            &nbsp;
            <button class="button is-info" (click)="subtract()">SUBTRACT</button>
            &nbsp;
            <button class="button is-warning" (click)="multiply()">MULTIPLY</button>
            &nbsp;
            <button class="button is-danger" (click)="divide()">DIVIDE</button>
        </div>
    </div>
    &nbsp;
    <div class="txt">
        <h4>The result of {{num1}} and {{num2}} is {{result}}.</h4>
    </div>
</div>