.margin{
    margin-left: 110px;
    margin-top: 0px;
    
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: cornflowerblue;;
  }

  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
  }
h3{
  display: block;
  font-size: 1.0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  color: palevioletred;
}

p{
text-indent: 30px;
margin-left: 50px;
margin-right: 50px;
}

hr{
  margin-top: 15px;
  margin-bottom: 15px;
}

.tabel{
  text-indent: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.button {
  
  font-size: 1.1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: cornflowerblue;

}
