<hr>
<div class="columns is-gap">

    <div class="column">
        <div class="margin">
            <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png" height="150"
                width="150">
        </div>
    </div>


    <div class="column">
        <h1>
            Filip Cezar-Iulian
        </h1>

        <h2>
            Transilvania University </h2>
        <h2>
            10LF272

        </h2>
    </div>

    <div class="column">
        <div class="right">
            <h2>cezar.filip@student.unitbv.ro</h2>
            <h2>0732 731 208</h2>
            <h2>Brasov, Romania</h2>
            <h2>1998-07-16</h2>
            <h2>www.cezariu.ro</h2>
            <a href="https://www.sinaiago.ro/en" class="button is-white">Visit my site!</a>


        </div>
    </div>

</div>

<hr>
<h3>About me</h3>
<p>My name is Cezar. I am a software engineer who started programming as a passion that began from playing video games.
</p>
<p>
    My interests in programming cover several programming languages, technologies and frameworks. I am highly interested
    in javascript, typescript and java.</p>
<p> My friends told me that I am a person pretty fun to be around, but when I have
    to work, it all boils down to getting the tasks done in the best way possible. </p>

<hr>
<h3>Education</h3>
<p>09.2013 - 06.2017 Mihail Cantacuzino College -> mathematics-informatics profile, intensive English.</p>
<p>10.2017 - 07.2020 Transilvania University of Brasov -> faculty of mathematics and computer science.</p>

<hr>
<h3>Projects</h3>
<p>Bang! Game - teamwork project using modern C++ elements.</p>
<p>Game developement using Unity and C# during the course at Stabiplan -> Roll aball, SpaceShooter and Pathfinding
    using A Star.</p>
<p>Working in eclipse using database connection (JPA, JDBC and Hibernate) with MySql.</p>
<p>Artificial intelligence course using Microsoft Language understanding (LUIS) API held by Cerner.</p>
<p>Web application using augumented reality - teamwork project using IP, ML, CNN and AR.</p>

<hr>

<h3>Technology Summary</h3>
<p><b>Systems:</b> Windows, Linux.</p>
<p><b>Programming languages:</b> C#, C++, C, Python, Java, JavaScript, TypeScript, SQL. </p>
<p><b>Database Management:</b> MySQL, PostgreSQL, MongoDB.</p>
<p><b>Design & IDE Tools:</b> Eclipse, Unity, Visual Studio, Visual Studio Code, Anaconda Python.</p>

<hr>

<h3>Language skills</h3>

&nbsp;

<div class="tabel">

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">

        <tr>
            <th align="center">Language</th>
            <th align="center">Level</th>
        </tr>
        <tr>
            <td align="center">English
            </td>
            <td align="center">Advanced C2</td>
        </tr>
        <tr>
            <td align="center">French</td>
            <td align="center">Beginner A2</td>
        </tr>

        <tr>
            <td align="center">German </td>
            <td align="center">Beginner A1</td>
        </tr>
    </table>
</div>

<hr>