<h2>Christmas in Romania</h2>
<hr />
<p>
  Other popular carols to sing include 'Oh, What Wondrous Tidings' ('O, ce veste
  minunata') and 'Three Wise Men coming from the East'.
</p>
<p>
  Traditional Romanian Christmas foods include Roast Gammon and Pork Chops (made
  from the killed pig!), 'Ciorba de perisoare' which is a slightly sour
  vegetable soup made with fermented bran and pork meatballs; 'Sarmale' cabbage
  leaves stuffed with ground pork and served with polenta; 'Cozonac' a rich
  fruit bread;
</p>
<p>
  In many parts of Romania, it's also traditional that someone dresses up as a
  goat, with a multicolored mask, and goes round with the carol singers. The
  goat is known as the 'Capra' and it jumps and dances around getting up to lots
  of mischief!
</p>

<p>
  New Year's Eve is also an important celebration in Romania. It's sometimes
  called Little Christmas. Traditionally a small, decorated plough called a
  'Plugusorul' is paraded through the streets on New Year's Eve. It is meant to
  help people have good crops during the following year.
</p>

<h4>Craciun fericit!</h4>

<hr />
<a class="button is-primary" href="/gifts">Buy a gift!</a>
