<h2>Christmas in China</h2>
<hr />
<p>
  More young people are celebrating Christmas in cities where Christmas parties
  are becoming popular where young couples will be gifts for'em.
</p>
<p>
  n China, only about one percent of people are Christians, so most people only
  know a few things about Christmas. Because of this, Christmas is only often
  celebrated in major cities. In these big cities there are Christmas Trees,
  lights and other decorations on the streets and in department stores. Santa
  Claus is called 'Shen Dan Lao Ren' and has grottos in shops like in Europe.
</p>
<p>
  Only a few people have a Christmas Tree. If people do have a tree it is
  normally a plastic one and might be decorated with paper chains, paper
  flowers, and paper lanterns (they might also call it a tree of light). The
  Christmas Trees that most people would see would be in shopping malls.
</p>

<p>
  The strange thing is that most of the world's plastic Christmas Trees and
  Christmas decorations are made in China, but the people making them might not
  have decorations like them in their own homes at Christmas! Jingle Bells is a
  popular Christmas song in China!
</p>

<h4>Sheng Dan Kuai Le</h4>

<hr />

<a class="button is-primary" href="/gifts">Buy a gift!</a>
