<p class="txt" style="margin-top:1px;color:rgb(60, 60, 60);text-align: center;">JavaScript example</p>

<div class="card w-50">
    <div class="card-header text-center"> CALCULATOR </div>
    <div class="card-body">
        <div class="form-group d-flex flex-row">
            <input [(ngModel)]='num1' type="number" name="num1" class="form-control" />
            <input [(ngModel)]='num2' type="number" name="num2" class="form-control" />
        </div>
        <div class="d-flex flex-row justify-content-between">
            <button class="btn btn-success" (click)="addition()">SUM</button>
            <button class="btn btn-primary" (click)="subtract()">SUBTRACT</button>
            <button class="btn btn-danger" (click)="multiply()">MULTIPLY</button>
            <button class="btn btn-warning" (click)="divide()">DIVIDE</button>
        </div>
    </div>
    <div class="card-footer">
        <h4>The result of {{num1}} and {{num2}} is {{result}}.</h4>
    </div>
</div>