.mainView{
    text-align: center;
    background-color: green;
}

img{

    border-radius: 50%;
    z-index: 0;
}

.text{
    text-align: center;
    z-index: 20;
    position: relative;
    top: 535px;
    color:yellow !important;
    font-size: 25px;
}

a{
    color: white;
}
