.box {
  width: 100%;
height:450x;
  padding: 10px;
  border: 0px solid rgba(0,0,0,0.3);
  margin: 0; 
}
.txt{
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; 
font-size: 35px; 
padding-top: 0px;
}
.split {
height: 100%;
width: 50%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: visible;
padding-top: 20px;
}
.left {
left:0;
}

.right {
right: 0;
}

.centered {
position: absolute;
top: 30%;
left: 10%;
transform: translate(-10%, -10%);
text-align: center;
}


.grid { 
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 10px;
align-items: start;
justify-items: center;

}
.grid img {
border: 1px solid rgba(0,0,0,0.3);
box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
width: 100%;

}
.grid img:nth-child(2) {
grid-column: span 3;
grid-row: span 2;
}