<div class="split left" style="margin-top:125px">
    <main class="grid">
        <img src="https://media.istockphoto.com/photos/morning-view-of-amalfi-picture-id926979762?k=6&m=926979762&s=612x612&w=0&h=SHWNaRgdSd4Pqz1VSEqYya8hA6RoCB5wGjJNCdivyww="
            alt="Sample photo">
        <img src="https://cstad.s3-ap-southeast-2.amazonaws.com/3146_Taste_Of_Italy_web_hero.jpg" alt="Sample photo">
        <img src="https://www.fodors.com/wp-content/uploads/2019/03/20GorgeousSidetownsinItaly__HERO_shutterstock_688078159.jpg"
            alt="Sample photo">
        <img src="https://www.telegraph.co.uk/content/dam/Travel/leadAssets/27/99/cinque-terre-italy_2799614a.jpg?imwidth=450"
            alt="Sample photo">
        <img src="https://images.ctfassets.net/zggpk8714k6l/3NjEv8gsCUX9HG4E6C7sOC/b7fe739a9a3515ab4bf1dc645eb48fa6/rome-saint-peters-square-vatican-taste-of-italy-hero.jpg"
            alt="Sample photo">
        <img src="https://www.tripsavvy.com/thmb/M2yP_ks5tKq6b7EHHH_zSasWRBY=/3865x2576/filters:fill(auto,1)/grand-canal-in-venice--italy-584393947-5a89a0d78023b900374a486b-b2be891e5535465a819696aa318d714a.jpg"
            alt="Sample photo">
        <img src="https://images.pexels.com/photos/373575/pexels-photo-373575.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Sample photo">
        <img src="https://ssl.tzoo-img.com/images/tzoo.1.0.567849.C-Vacations-Italy-GettyImages-543346423.jpg"
            alt="Sample photo" height="100px">
        <img src="http://rimatravel.info/wp-content/uploads/2018/02/79329_51048c99-1.jpg" alt="Sample photo">
        <img src="https://www.backroadstouring.com/sites/default/files/styles/max_1300x1300/public/styles/max_2600x2600/public/gallery/Italy_Portofino_TripType_ItalianIndulgence_BEHIIRV_Season_Harbour.jpg?itok=b-Z7LwHo"
            alt="Sample photo">
    </main>
</div>
<p class="txt" style="margin-top:1px;color:rgb(60, 60, 60);text-align: center;">From Italy with love...</p>
<div class="split right" style="margin-top:125px">
    <div class="box">
        <img src="https://images-na.ssl-images-amazon.com/images/I/615w2ANAsAL._SX425_.jpg" style="margin-left:95px"
            height="300px">
    </div>
</div>